.infoBox {
    flex: 1;
    cursor: pointer
  }
  
  .infoBox:not(:last-child) {
    margin-right: 15px;
  }
  
  .infoBox--selected {
    border-top: 10px solid #adff2f;
  }
  
  .infoBox--red {
    border-color: hsl(0, 100%, 50%);
  }
  
  .infoBox_cases--green {
    color: hsl(120, 73%, 75%) !important;
  }
  
  .infoBox_cases {
    color: hsl(349, 85%, 43%);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox_total {
    color: hsl(208, 7%, 46%);
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }