.table {
    margin-top: 18px;
    height: 400px;
    overflow: hidden;
    color: hsl(0, 7%, 39%);
  }
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td {
    padding: 0.5rem;
}

  .table tr:nth-last-of-type(odd) {
      background-color: hsl(250, 30%, 96%);
  }